<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pula CHAT</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <script src="{{ url_for('static', path='/js/skripta.js') }}"></script>
</head>
<body>
  <!-- Naslov -->
  <div class="w3-container w3-teal w3-flex">
    <h1 class="w3-left-align">CHAT aplikacija</h1>
    <form class="w3-container w3-right-align">
      <label id="label_nadimak">
        Nadimak
        <span 
          id="info_nadimak" class="w3-text-red" style="display:none"
        >*</span>
        </label>
      <input class="w3-input" type="text" id="nadimak" value='{{ nadimak }}'>
    </form>
  </div>
  <!-- pisanje poruke -->
  <div class="w3-containter w3-white">
      <form class="w3-container w3-left-align">
        <label>Poruka:</label>
        <input class="w3-input" type="text" id="poruka">
        <button 
          class="w3-button w3-ripple w3-red"
          onclick="posalji();"
        >
          Pošalji
        </button>
    </form>
  </div>
  <!-- prikaz poruka -->
  <div class="w3-containter w3-white">
    <div class="w3-panel w3-blue">
      <p>Komunikacija</p>
    </div>
    <!-- poruke -->
    <div >
      <label class="w3-container">Poruke:</label>

      <ul class="w3-ul">
        <li class="w3-padding-small">
          {% for poruka in poruke%}
            <span class="w3-small w3-text-silver">{{ poruka[0] }}</span>
            <span class="w3-small w3-text-green"> ({{ poruka[1] }})</span>
            <span>{{ poruka[2] }}</span>
          {% endfor %}
        </li>
      </ul>

    </div>
  </div>

</body>
</html>